body {
<<<<<<< Updated upstream
  margin: 10px;
}

/* container */
.container{
  display: grid;
  grid-template-columns: 15rem 15rem 15rem;
  grid-gap: 17rem;
  background-color: #fff;
  text-align: center;
  margin: auto;
  }
/* section 3 */
.section3{
=======
  margin: 1px;
  background-color: #f7f7f7;
  font-family: "Roboto", sans-serif;
}
.container {
  display:flex;
  text-align:center;
  margin: auto;
  width: 1030px;
  height: 703px;
  margin-left: 64px;
}

.section3 {
>>>>>>> Stashed changes
  margin: auto;
  padding: 0.25rem;
  width: 10px;
  height: 70px;
  margin-left: 64px;
}
<<<<<<< Updated upstream
/* Phone description */
.section3 p{
  margin: auto;
  padding: 2rem;
  font-family:Edu VIC WA NT Beginner', cursive; ;
=======

.section3 p {
  margin: auto;
  padding: 0.5rem;
  font-family: Arial Montserrat;
}

/* Header*/
header {
  display: flex;
  width: 100%;
  height: 100px;
}
/* Logo */
.logo {
  width: 280px;
  height: 180px;
  margin-bottom: 200px;
  /* margin: 0 30px 200px 26px; */
>>>>>>> Stashed changes
}
/* Phone price */
.section3 h4{
  margin: auto;
  padding: -0.5rem;
}
/* Phone Image */
.section3 image{
  padding: 0.55em;
  margin-top: auto;
  
}
/* Add to cart button */
.cart-btn{
margin-top: 0.5em;
margin-right: 5em;

} 
/* Add to cart button */
.cart-btn a{
  background-color: rgb(81, 79, 193);
    color: white;
    text-decoration: white;
    cursor: pointer;
    font-size: 0.8em;
    padding: 10px 35px 10px 35px;
    font-weight: 50;
    text-align: left;
    margin: 70px;
    border-radius: 5px
    }

.checked{
  color: orange;
    }
