body {
  margin: 10px;
}

.container{
  display: grid;
  grid-template-columns: 15rem 15rem 15rem;
  grid-gap: 17rem;
  background-color: #fff;
  text-align: center;
  margin: auto;
  }

.section3{
  margin: auto;
  padding: 0.5rem;
}

.section3 p{
  margin: auto;
  padding: 0.5rem;
  font-family: Arial Montserrat;
}