/* sign up page styling begins */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}
.sign {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 400px;
}
.sign h1 {
  text-align: center;
  padding: 0 0 20px 0;
}
.sign form {
  padding: 0 40px;
}
.sign input {
  width: 950px;

  margin-bottom: 20px;
  color: #000000;
  height: 40px;
  margin-top: 2px;
}

.Proceed {
  padding: 14px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  width: 150px;
  color: white;
  background-color: #142b6f;
  display: block;
  margin: auto;
  position: fixed;
  left: 250px;
  top: 110%;
}

.Proceed:hover {
  background-color: black;
  color: white;
}
.Cancel {
  padding: 14px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  width: 150px;
  color: white;
  background-color: #878787;
  display: block;
  margin: auto;
  position: fixed;
  left: 550px;
  top: 110%;
}

.Cancel:hover {
  background-color: black;
  color: white;
}
footer {
  text-align: left;
  padding: 3px;
}
.sign input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  outline: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}

h2 {
  text-align: justify;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  position: absolute;
  left: 46.5%;
  right: 45.6%;
  top: 95%;
  bottom: 0%;
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 48px;
  color: black;

  bottom: 0%;
}
/* sign up page styling ends */
